<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="title-container">
        <img src="{{ url_for('static', filename='img/assistant_icon.png') }}" alt="Assistant Icon">
        <h1>Register</h1>
    </div>
    <div class="login-container">
        <form class="login-form" method="POST" action="{{ url_for('register') }}">
            <form class="login-form" method="POST" action="{{ url_for('login') }}">
                <label for="username" style="margin-bottom: 5px; display: block;">Username:</label>
                <input type="text" id="username" name="username" required
                    style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #555; background: #262626; color: white;">
    
                <label for="password" style="margin-bottom: 5px; display: block;">Password:</label>
                <input type="password" id="password" name="password" required
                    style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #555; background: #262626; color: white;">
                    <button type="submit">Register</button>
            </form>
        </form>
    </div>
</body>

</html>